.fade-in {
    opacity: 0;
    animation: fade-in 1s forwards;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }

  .herobtn{
    margin-right: 2em;
    width: 100%;

    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1em;
    border: transparent;
    
    
    background: #008000;
    padding: 10px 2px ;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: all 0.5s ease-in-out;
}
.herobtn:hover{

    border: 1px sold #606c38ff;
    font-size: 1.05em;
    border-radius: 1em;
    background: #00c800;
   
    border: transparent;
    

    transform: translateY(-0.3em);
    transition: all 0.5s ease-in-out;

}